*{
    padding: 0%;
    margin: 0%;
    color: white;
}

#navbar {
    height : 60px;
    background-color: #0f1111;
}
button {
    color: #f08804;
}
#logo {
    color: #f08804;
    font-size: 25px;
}
a {
    margin-right: 200px;
    text-decoration: none;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0f1111;
    text-align: center;
}

#content {
    height: 500px;
    width: 500px;
   
}
.contentBox {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: #c4c4c4;
}

